<div class="section-experiencia animated fadeIn fast fullHeight">
  <div class="container-fluid">
    <div class="row h-100">
      <div class="col-md-3 my-4"><h1>Experiencia en</h1></div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6 my-4 px-5">
            <h2>Linio Perú</h2>
            <p>
                2018-2019 Analista comercial de Home & Living
            </p>
            <ul>
              <li>Generación de plan de negocio para la categoría Home</li>
              <li>Cumplimiento de targets de ventas y operaciones</li>
              <li>Hunting y negociación con sellers y marcas</li>
              <li>Generación de campañas para la categoría Home</li>
            </ul>
          </div>
          <div class="col-md-6 my-4 px-5">
            <h2>Linio Perú</h2>
            <p>
                2017 Practicante comercial de Home & Living
            </p>
            <ul>
              <li>Desarrollo de bases de datos</li>
              <li>Seguimiento de KPIs comerciales y operativos</li>
            </ul>
          </div>
          <div class="col-md-6 my-4 px-5">
            <h2>CAF - Banco de Desarrollo de América Latina</h2>
            <p>
                2016 Pasante en Fondos de Cooperación para el desarrollo
            </p>
            <ul>
              <li>Desarrollo de Bases de Datos y mapas de cooperación</li>
              <li>Implementación de KPI de desembolsos</li>
              <li>Implementación de Objetivos de Desarrollo Sostenible (ODS)</li>
            </ul>
          </div>
          <div class="col-md-6  my-4 px-5">
            <h2>Favel La Famosa EIRL</h2>
            <p>
                2014 -2015 Asistente de Importación
            </p>
            <ul>
              <li>Apoyo en procesos de importación y compras</li>
              <li>Gestión de proveedores</li>
              <li>Apoyo en ferias y congresos internacionales</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
