<div class="section-referencias fullHeight animated fadeIn fast">
  <div class="wraper">
  <div class="container my-5">
    <div class="row text-center">
      <div class="col-md-4">
        <h1>Yuno Jimenez</h1>
        <ul>
          <li>
            <span class=" icon icon-user mx-1"></span>
            <span class="text">Gerente en Linio Perú</span>
          </li>
          <li>
            <span class="icon mx-1 icon-phone"></span>
            <span class="text">+51 978 888 283</span>
          </li>
          <li>
            <span class="icon mx-1 icon-envelope"></span>
            <span class="text">yuno.jimenez@linio.com</span>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h1>Corina Arroyo</h1>
        <ul>
            <li>
              <span class=" icon icon-user mx-1"></span>
              <span class="text">Directora en CAF Banco</span>
            </li>
            <li>
              <span class="icon mx-1 icon-user-md"></span>
              <span class="text">Desarrollo de América Latina</span>
            </li>
            <li>
              <span class="icon mx-1 icon-envelope"></span>
              <span class="text">CARROYO@caf.com</span>
            </li>
          </ul>
      </div>
      <div class="col-md-4">
        <h1>Oscar Malca</h1>
        <ul>
            <li>
              <span class=" icon icon-user mx-1"></span>
              <span class="text">Vicedecano de Negocios
                  Internacionales en Universidad del
                  Pacífico</span>
            </li>
            <li>
              <span class="icon mx-1 icon-envelope"></span>
              <span class="text">malca_oe@up.edu.pe</span>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
</div>
