<div class="section-idiomas animated fadeIn fast fullHeight">
  <div class="container-fluid">
    <div class="row h-100 text-center">
     
      <div class="col-md-4 px-5">
        <h1 class="mb-5">Idiomas</h1>

        <ul>
          <li>Español: Lengua materna</li>
          <li>Ingles: Avanzado</li>
          <li>Francés: Avanzado</li>
          <li>Portugués: Básico</li>
        </ul>
      </div>

      <div class="col-md-4 px-5">
          <h1 class="mb-5 mt-cel">Estudios</h1>
          <h3 class="mt-5">Coventry University, UK</h3>
          <p>
            2017 Country Intelligence developing scenario analysis (curso)
          </p>
          <h3 class="mt-5">Universidad del Pacífico</h3>
          <p>
            2012 -2019 Carrera de Negocios Internacionales
          </p>
  
          <h3 class="mt-5">Colegio Santa Rosa, Cusco</h3>
          <p>
            2000-2011: Primaria y secundaria
          </p>
        </div>

      <div class="col-md-4 px-5">
          <h1 class="mb-5 mt-cel">Herramientas</h1>
  
          <ul>
            <li>Google Analytics: avanzado</li>
            <li>Microsoft Office: avanzado</li>
            <li>Visual Basic for Aplications: avanzado</li>
            <li>SPSS: avanzado</li>
            <li>E views: básico</li>
          </ul>
        </div>

    </div>
  </div>
</div>


