<div class="hero-wrap fullHeight animated fadeIn" style="background-image: url(assets/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="fullHeight d-flex justify-content-center align-items-center">
    <div class="col-md-8 text text-center">
      <div class="img mb-4" style="background-image: url(assets/images/author.jpg);"></div>
      <div class="desc">
        <h2 class="subheading">Hola, yo soy</h2>
        <h1 class="mb-4">Claudia Céspedes</h1>
        <p class="mb-4">Estudiante de noveno ciclo de Negocios
            Internacionales en la Universidad del
            Pacífico. Experiencia previa en ecommerce, marketplace, ventas,
            hunting, negociación con sellers.</p>
        <p><a href="#" class="btn-custom">More About Me <span class="ion-ios-arrow-forward"></span></a></p>
      </div>
    </div>
  </div>
</div>


<div class="col-md-12">
  <div class="blog-entry ftco-animate">
    <a href="#" class="img" style="background-image: url(assets/images/bg_1.jpg);"></a>
    <div class="text pt-2 mt-3">
      <span class="category mb-1 d-block"><a href="#">Technology</a></span>
      <h3 class="mb-4"><a href="#">The Newest Technology On This Year 2019</a></h3>
      <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
      <div class="author mb-4 d-flex align-items-center">
        <a href="#" class="img" style="background-image: url(images/person_1.jpg);"></a>
        <div class="ml-3 info">
          <span>Written by</span>
          <h3><a href="#">Dave Lewis</a>, <span>Nov 28, 2018</span></h3>
        </div>
      </div>
      <div class="meta-wrap d-md-flex align-items-center">
        <div class="half order-md-last text-md-right">
          <p class="meta">
            <span><i class="icon-heart"></i>3</span>
            <span><i class="icon-eye"></i>100</span>
            <span><i class="icon-comment"></i>5</span>
          </p>
        </div>
        <div class="half">
          <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Continue Reading</a></p>
        </div>
      </div>
    </div>
  </div>
</div>